.pagination {
    display: flex;
    justify-content: space-evenly;
    width:100%;
}

.pagination span:hover {
    cursor: pointer;
}

.pagActive {
    text-shadow: 1px 1px 3px grey, 1px 1px 4px yellow, 1px 1px 3px silver;
}

.pagNon {
    text-shadow: 1px 1px 3px grey;
}