.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:10px;
    background-color: black;
    color: beige;
    width:250px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.card-img {
    height: 200px;
    width: 200px
}

.card-descrip {
    color: beige;
    font-size: 30px;
}

